.finalPart {
  margin-left: 100px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}

.footer,
.adress,
.rightReserved {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.adress,
.rightReserved {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer h2 {
  margin-left: 10px;
  width: 128px;
  height: 20px;
  color: #ffffff;
}

.footer img {
  width: 20px;
  height: 20px;
}

.adress p,
.adress a,
.rightReserved {
  height: 22px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */
  color: rgba(255, 255, 255, 0.4);
}

.rightReserved {
  display: flex;
  justify-content: flex-start;
  padding-top: 5%;
}
.menuIcon {
  width: 25px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  display: block;
  display: none;
}
@media screen and (max-width: 768px) {
  .menuIcon {
    display: flex;
    /* margin-left: 70vh; */
    margin-left: 45vh;
  }
  .horizontal-list a {
    display: none;
  }
  .firstHeading {
    margin-left: 35vh;
  }
  .wholeProject {
    width: 768px;
  }
  .firstHalf {
    width: 768px;
  }
  .secondP {
    flex-direction: column;
  }
  .secondPart {
    height: 900px;
  }
  #readMore {
    margin-top: 25vh;
  }
  .finalPart {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 150px;
  }
  .info {
    height: 250px;
  }
  .adress {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .rightReserved {
    margin-top: 40px;
  }
}
